:host {
  display: block;
  background: #FAFAFA;
  padding: 20px 15px;
  border: 1px solid #888;
  border-radius: 3px;
  width: 400px;
  margin: .5em;
}

h4 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
